In [70]:
import numpy as np
import pandas as pd

In [74]:
df1 = pd.read_csv('/Users/nadezdachikurova/Documents/School MS/QGIS/Lab_Assignment_01_Data/NYS_Retail_Food_Stores.csv'
                 , encoding='latin-1')
df1.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Location
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n(42.73961..."
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,"3,000","1250 RTE 9 W\nSELKIRK, NY 12158\n(42.547591, -..."
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,"2,000","1667 WESTERN AVENUE\nALBANY, NY 12203\n(42.686..."
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,"1,200","315 19TH STREET\nWATERVLIET, NY 12189\n(42.730..."
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,"1,800","8 CENTRAL AVE\nALBANY, NY 12210\n(42.657136, -..."

In [75]:
df1["Location"].head()

0    719 NEW LOUDON RD\nLATHAM, NY 12110\n(42.73961...
1    1250 RTE 9 W\nSELKIRK, NY 12158\n(42.547591, -...
2    1667 WESTERN AVENUE\nALBANY, NY 12203\n(42.686...
3    315 19TH STREET\nWATERVLIET, NY 12189\n(42.730...
4    8 CENTRAL AVE\nALBANY, NY 12210\n(42.657136, -...
Name: Location, dtype: object

In [76]:
df1.dropna(inplace = True) 
df1.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Location
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n(42.73961..."
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,"3,000","1250 RTE 9 W\nSELKIRK, NY 12158\n(42.547591, -..."
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,"2,000","1667 WESTERN AVENUE\nALBANY, NY 12203\n(42.686..."
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,"1,200","315 19TH STREET\nWATERVLIET, NY 12189\n(42.730..."
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,"1,800","8 CENTRAL AVE\nALBANY, NY 12210\n(42.657136, -..."

In [77]:
df1["Location"].head()

0    719 NEW LOUDON RD\nLATHAM, NY 12110\n(42.73961...
1    1250 RTE 9 W\nSELKIRK, NY 12158\n(42.547591, -...
2    1667 WESTERN AVENUE\nALBANY, NY 12203\n(42.686...
3    315 19TH STREET\nWATERVLIET, NY 12189\n(42.730...
4    8 CENTRAL AVE\nALBANY, NY 12210\n(42.657136, -...
Name: Location, dtype: object

In [78]:
df1[["Address","Coords","none"]] = df1.Location.str.split("(",expand=True)

df1.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Location,Address,Coords,none
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n(42.73961...","719 NEW LOUDON RD\nLATHAM, NY 12110\n","42.739618, -73.761949)",None
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,"3,000","1250 RTE 9 W\nSELKIRK, NY 12158\n(42.547591, -...","1250 RTE 9 W\nSELKIRK, NY 12158\n","42.547591, -73.8073)",None
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,"2,000","1667 WESTERN AVENUE\nALBANY, NY 12203\n(42.686...","1667 WESTERN AVENUE\nALBANY, NY 12203\n","42.686553, -73.854665)",None
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,"1,200","315 19TH STREET\nWATERVLIET, NY 12189\n(42.730...","315 19TH STREET\nWATERVLIET, NY 12189\n","42.73063, -73.703443)",None
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,"1,800","8 CENTRAL AVE\nALBANY, NY 12210\n(42.657136, -...","8 CENTRAL AVE\nALBANY, NY 12210\n","42.657136, -73.763712)",None

In [79]:
df1[["Latitude","Longitude)"]] = df1.Coords.str.split(",",expand=True)
df1.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Location,Address,Coords,none,Latitude,Longitude)
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n(42.73961...","719 NEW LOUDON RD\nLATHAM, NY 12110\n","42.739618, -73.761949)",None,42.739618,-73.761949)
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,"3,000","1250 RTE 9 W\nSELKIRK, NY 12158\n(42.547591, -...","1250 RTE 9 W\nSELKIRK, NY 12158\n","42.547591, -73.8073)",None,42.547591,-73.8073)
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,"2,000","1667 WESTERN AVENUE\nALBANY, NY 12203\n(42.686...","1667 WESTERN AVENUE\nALBANY, NY 12203\n","42.686553, -73.854665)",None,42.686553,-73.854665)
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,"1,200","315 19TH STREET\nWATERVLIET, NY 12189\n(42.730...","315 19TH STREET\nWATERVLIET, NY 12189\n","42.73063, -73.703443)",None,42.73063,-73.703443)
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,"1,800","8 CENTRAL AVE\nALBANY, NY 12210\n(42.657136, -...","8 CENTRAL AVE\nALBANY, NY 12210\n","42.657136, -73.763712)",None,42.657136,-73.763712)

In [80]:
df2 = df1.drop(columns = ["Location","none","Coords"])
df2.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Address,Latitude,Longitude)
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n",42.739618,-73.761949)
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,"3,000","1250 RTE 9 W\nSELKIRK, NY 12158\n",42.547591,-73.8073)
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,"2,000","1667 WESTERN AVENUE\nALBANY, NY 12203\n",42.686553,-73.854665)
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,"1,200","315 19TH STREET\nWATERVLIET, NY 12189\n",42.73063,-73.703443)
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,"1,800","8 CENTRAL AVE\nALBANY, NY 12210\n",42.657136,-73.763712)

In [85]:
df2[["Longitude","new"]] = df2['Longitude)'].str.split(")",expand=True)
df2.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Address,Latitude,Longitude),Longitude,new
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n",42.739618,-73.761949),-73.761949,
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,"3,000","1250 RTE 9 W\nSELKIRK, NY 12158\n",42.547591,-73.8073),-73.8073,
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,"2,000","1667 WESTERN AVENUE\nALBANY, NY 12203\n",42.686553,-73.854665),-73.854665,
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,"1,200","315 19TH STREET\nWATERVLIET, NY 12189\n",42.73063,-73.703443),-73.703443,
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,"1,800","8 CENTRAL AVE\nALBANY, NY 12210\n",42.657136,-73.763712),-73.763712,

In [86]:
df3 = df2.drop(columns = ["Longitude)","new"])
df3.head()

,County,License Number,Operation Type,Establishment Type,Entity Name,DBA Name,Street Number,Street Name,Address Line 2,Address Line 3,City,State,Zip Code,Square Footage,Address,Latitude,Longitude
0,Albany,733149,Store,A,SPEEDWAY LLC,12110,719,NEW LOUDON RD,,,LATHAM,NY,12110,300,"719 NEW LOUDON RD\nLATHAM, NY 12110\n",42.739618,-73.761949
1,Albany,704590,Store,JAC,1250 SELKIRK INC,1250 SELKIRK,1250,RTE 9W & 396,,,SELKIRK,NY,12158,"3,000","1250 RTE 9 W\nSELKIRK, NY 12158\n",42.547591,-73.8073
2,Albany,727909,Store,JAC,RED-KAP SALES INC,1667 GENERAL STORE,1667,WESTERN AVENUE,,,ALBANY,NY,12203,"2,000","1667 WESTERN AVENUE\nALBANY, NY 12203\n",42.686553,-73.854665
3,Albany,720557,Store,JAC,"SAEED SADIQ, SAIKA NOREEN",19 STREET QUICK STOP,315,19TH STREET,,,WATERVLIET,NY,12189,"1,200","315 19TH STREET\nWATERVLIET, NY 12189\n",42.73063,-73.703443
4,Albany,15890,Store,A,AZIZ MOHAMMAD S,24 HR ALBANY NEWS,8,CENTRAL AVE,,,ALBANY,NY,12210,"1,800","8 CENTRAL AVE\nALBANY, NY 12210\n",42.657136,-73.763712

In [63]:
df3.to_csv(r'/Users/nadezdachikurova/Documents/School MS/QGIS/Lab_Assignment_01_Data/NYS_Retail_Food_Stores_NEW.csv')

In [65]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

In [69]:
#Applying per row:
print ("\nMissing values per row:")
print (df3.apply(num_missing, axis=1).head())

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64

In [87]:
subway_map = pd.read_csv('/Users/nadezdachikurova/Downloads/archive/subway_stations.csv'
                 , encoding='latin-1')
subway_map.head()

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,ADA,ADA Notes,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SW,40.660489,-73.998220,"{'longitude': '-73.998091', 'latitude': '40.66...","{'longitude': '-73.99822', 'latitude': '40.660..."
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SE,40.660323,-73.997952,"{'longitude': '-73.998091', 'latitude': '40.66...","{'longitude': '-73.997952', 'latitude': '40.66..."
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654676,-74.004306,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004306', 'latitude': '40.65..."
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NE,40.654365,-74.004113,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004113', 'latitude': '40.65..."
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654490,-74.004499,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004499', 'latitude': '40.65..."

In [73]:
subway_map["Route1"].unique()

array(['R', 'N', 'F', 'B', 'Q', 'D', 'J', 'A', 'L', 'G', 'FS', 'M', 'C',
       'E', 'e', 'H', 'GS', '1', '2', '5', '3', '7', '4', 'B ', '6'],
      dtype=object)