In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('/Users/nadezdachikurova/Documents/QGIS/Final project/data/TAX/State_tax_per_pack.csv'
                 , encoding='latin-1')
df1.head()

,LocationAbbr,LocationDesc,Year,Datasource,TopicDesc,MeasureDesc,SubMeasureDesc,Data_Value,Data_Value_Unit,Data_Value_Type,GeoLocation,Source,TopicTypeId,TopicId,MeasureId,SubMeasureID,SubMeasureIdDisplayOrder
0,ME,Maine,2012,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,2.00,$,Dollars,"(45.254228894001, -68.985031336)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
1,NV,Nevada,1982,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.10,$,Dollars,"(39.49324039, -117.071840564)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
2,MS,Mississippi,1987,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.18,$,Dollars,"(32.745510099, -89.538030825)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
3,LA,Louisiana,1971,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.11,$,Dollars,"(31.312660644, -92.445680071)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
4,CT,Connecticut,2013,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,3.40,$,Dollars,"(41.56266102, -72.649840952)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6

In [3]:
df1["GeoLocation"].head()

0    (45.254228894001, -68.985031336)
1       (39.49324039, -117.071840564)
2       (32.745510099, -89.538030825)
3       (31.312660644, -92.445680071)
4        (41.56266102, -72.649840952)
Name: GeoLocation, dtype: object

In [4]:
df1.dropna(inplace = True) 
df1.head()

,LocationAbbr,LocationDesc,Year,Datasource,TopicDesc,MeasureDesc,SubMeasureDesc,Data_Value,Data_Value_Unit,Data_Value_Type,GeoLocation,Source,TopicTypeId,TopicId,MeasureId,SubMeasureID,SubMeasureIdDisplayOrder
0,ME,Maine,2012,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,2.00,$,Dollars,"(45.254228894001, -68.985031336)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
1,NV,Nevada,1982,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.10,$,Dollars,"(39.49324039, -117.071840564)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
2,MS,Mississippi,1987,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.18,$,Dollars,"(32.745510099, -89.538030825)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
3,LA,Louisiana,1971,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.11,$,Dollars,"(31.312660644, -92.445680071)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6
4,CT,Connecticut,2013,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,3.40,$,Dollars,"(41.56266102, -72.649840952)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6

In [5]:
df1["GeoLocation"].head()

0    (45.254228894001, -68.985031336)
1       (39.49324039, -117.071840564)
2       (32.745510099, -89.538030825)
3       (31.312660644, -92.445680071)
4        (41.56266102, -72.649840952)
Name: GeoLocation, dtype: object

In [6]:
df1[["Latitude_1","Longitude_1"]] = df1.GeoLocation.str.split(",",expand=True)

df1.head()

,LocationAbbr,LocationDesc,Year,Datasource,TopicDesc,MeasureDesc,SubMeasureDesc,Data_Value,Data_Value_Unit,Data_Value_Type,GeoLocation,Source,TopicTypeId,TopicId,MeasureId,SubMeasureID,SubMeasureIdDisplayOrder,Latitude_1,Longitude_1
0,ME,Maine,2012,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,2.00,$,Dollars,"(45.254228894001, -68.985031336)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(45.254228894001,-68.985031336)
1,NV,Nevada,1982,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.10,$,Dollars,"(39.49324039, -117.071840564)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(39.49324039,-117.071840564)
2,MS,Mississippi,1987,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.18,$,Dollars,"(32.745510099, -89.538030825)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(32.745510099,-89.538030825)
3,LA,Louisiana,1971,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.11,$,Dollars,"(31.312660644, -92.445680071)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(31.312660644,-92.445680071)
4,CT,Connecticut,2013,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,3.40,$,Dollars,"(41.56266102, -72.649840952)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(41.56266102,-72.649840952)

In [7]:
df1[["extra","Latitude"]] = df1.Latitude_1.str.split("(",expand=True)
df1.head()

,LocationAbbr,LocationDesc,Year,Datasource,TopicDesc,MeasureDesc,SubMeasureDesc,Data_Value,Data_Value_Unit,Data_Value_Type,...,Source,TopicTypeId,TopicId,MeasureId,SubMeasureID,SubMeasureIdDisplayOrder,Latitude_1,Longitude_1,extra,Latitude
0,ME,Maine,2012,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,2.00,$,Dollars,...,"Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(45.254228894001,-68.985031336),,45.254228894001
1,NV,Nevada,1982,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.10,$,Dollars,...,"Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(39.49324039,-117.071840564),,39.49324039
2,MS,Mississippi,1987,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.18,$,Dollars,...,"Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(32.745510099,-89.538030825),,32.745510099
3,LA,Louisiana,1971,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.11,$,Dollars,...,"Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(31.312660644,-92.445680071),,31.312660644
4,CT,Connecticut,2013,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,3.40,$,Dollars,...,"Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,(41.56266102,-72.649840952),,41.56266102

In [8]:
df1[["Longitude","drop"]] = df1.Longitude_1.str.split(")",expand=True)
df1.head()

,LocationAbbr,LocationDesc,Year,Datasource,TopicDesc,MeasureDesc,SubMeasureDesc,Data_Value,Data_Value_Unit,Data_Value_Type,...,TopicId,MeasureId,SubMeasureID,SubMeasureIdDisplayOrder,Latitude_1,Longitude_1,extra,Latitude,Longitude,drop
0,ME,Maine,2012,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,2.00,$,Dollars,...,450POL,450CGS,451CGS,6,(45.254228894001,-68.985031336),,45.254228894001,-68.985031336,
1,NV,Nevada,1982,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.10,$,Dollars,...,450POL,450CGS,451CGS,6,(39.49324039,-117.071840564),,39.49324039,-117.071840564,
2,MS,Mississippi,1987,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.18,$,Dollars,...,450POL,450CGS,451CGS,6,(32.745510099,-89.538030825),,32.745510099,-89.538030825,
3,LA,Louisiana,1971,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.11,$,Dollars,...,450POL,450CGS,451CGS,6,(31.312660644,-92.445680071),,31.312660644,-92.445680071,
4,CT,Connecticut,2013,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,3.40,$,Dollars,...,450POL,450CGS,451CGS,6,(41.56266102,-72.649840952),,41.56266102,-72.649840952,

In [9]:
df2 = df1.drop(columns = ["Longitude_1","Latitude_1","extra","drop"])
df2.head()

,LocationAbbr,LocationDesc,Year,Datasource,TopicDesc,MeasureDesc,SubMeasureDesc,Data_Value,Data_Value_Unit,Data_Value_Type,GeoLocation,Source,TopicTypeId,TopicId,MeasureId,SubMeasureID,SubMeasureIdDisplayOrder,Latitude,Longitude
0,ME,Maine,2012,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,2.00,$,Dollars,"(45.254228894001, -68.985031336)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,45.254228894001,-68.985031336
1,NV,Nevada,1982,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.10,$,Dollars,"(39.49324039, -117.071840564)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,39.49324039,-117.071840564
2,MS,Mississippi,1987,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.18,$,Dollars,"(32.745510099, -89.538030825)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,32.745510099,-89.538030825
3,LA,Louisiana,1971,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.11,$,Dollars,"(31.312660644, -92.445680071)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,31.312660644,-92.445680071
4,CT,Connecticut,2013,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,3.40,$,Dollars,"(41.56266102, -72.649840952)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,41.56266102,-72.649840952

In [10]:

df2["Id"] = df2.index + 1
df2.head()

,LocationAbbr,LocationDesc,Year,Datasource,TopicDesc,MeasureDesc,SubMeasureDesc,Data_Value,Data_Value_Unit,Data_Value_Type,GeoLocation,Source,TopicTypeId,TopicId,MeasureId,SubMeasureID,SubMeasureIdDisplayOrder,Latitude,Longitude,Id
0,ME,Maine,2012,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,2.00,$,Dollars,"(45.254228894001, -68.985031336)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,45.254228894001,-68.985031336,1
1,NV,Nevada,1982,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.10,$,Dollars,"(39.49324039, -117.071840564)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,39.49324039,-117.071840564,2
2,MS,Mississippi,1987,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.18,$,Dollars,"(32.745510099, -89.538030825)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,32.745510099,-89.538030825,3
3,LA,Louisiana,1971,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,0.11,$,Dollars,"(31.312660644, -92.445680071)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,31.312660644,-92.445680071,4
4,CT,Connecticut,2013,OW,The Tax Burden on Tobacco,Cigarette Sales,State Tax per pack,3.40,$,Dollars,"(41.56266102, -72.649840952)","Table 7- Orzechowski and Walker, Tax Burden on...",POL,450POL,450CGS,451CGS,6,41.56266102,-72.649840952,5

In [12]:
df2.to_csv(r'/Users/nadezdachikurova/Documents/QGIS/Final project/data/TAX/State_tax_per_pack_L.csv')

In [13]:
#Create a new function:
def num_missing(x):
  return sum(x.isnull())

In [14]:
#Applying per row:
print ("\nMissing values per row:")
print (df2.apply(num_missing, axis=1).head())

Missing values per row:
0    0
1    0
2    0
3    0
4    0
dtype: int64